.footer-component {
    font-family: Arial;
    color: var(--color-white);
    font-size: 12px;
    background-color: var(--color-darkBlue);
}

.footer-form, .contact,
.help-button, .last-information {
    display: flex;
    flex-direction: row;
}

.footer-form {
    justify-content: space-between;
    padding: 43px 30px 43px 30px;
}

.text {
    display: flex;
    flex-direction: column;
}

.footer-link {
    text-decoration: none;
    color: var(--color-white);
    padding: 20px 0 0 20px;
}

.footer-link:hover {
    color: var(--color-darkPink);
}

.text-footer {
    margin-top: 70px;
}

.title {
    font-size: 15px;
    margin-bottom: 40px;
}

.contact {
    align-items: center;
    margin-bottom: 20px;
}

.icon-contact {
    padding-right: 15px;
}

.icon-contact, .social-media,
.icon-help {
    width: 30px;
    height: 30px;
}

.social-media {
    padding: 30px 10px 0 18px;
    position: relative;
    right: 10px;
}

.social-networking {
    text-align: center;
}

.copy-right {
    margin-left: 100px;
}

.help-button {
    justify-content: space-between;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: var(--color-white);
    background-color: var(--color-darkPink);
    border-radius: 16px 16px 0 0;
    border: none;
    outline: none;
    padding: 0 20px 0 20px;
}

.last-information {
    justify-content: space-between;
    align-items: center;
}
