.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    width: 190px;
    height: 40px;
}

.menu-bar {
    display: flex;
    align-items: center;
}

.menu-button {
    background: none;
    border: none;
    outline: none;
    color: var(--color-darkBlue);
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
    padding-left: 20px;
    text-decoration: none;
}

.menu-button:hover {
    color: var(--color-darkPink);
}

.menu-button:active {
    color: var(--color-blue);
}
