.form-instructions {
    background-color: var(--color-lightBlue);
    position: relative;
    bottom: 228px;
    font-family: Arial;
    font-weight: bold;
    padding-bottom: 10px;
}

.title-instruction {
    color: var(--color-darkBlue);
    font-size: 30px;
    text-align: center;
    padding: 73px 0 60px 0;
}

.first-section, .second-section,
.circle {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.first-section, .second-section {
    flex-direction: row;
    padding: 0 20px 0 10px;
}

.instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 0 10px 70px 10px;
}

.circle {
    align-items: center;
    border-radius: 100%;
    border: 1px solid var(--color-darkPink);
    width: 35px;
    height: 35px;
    font-size: 18px;
    margin: 15px 0 20px -130px;
}

.icon {
    width: 60px;
    height: 70px;
}

.idea {
    width: 50px;
    height: 60px;
}

.text-instruction {
    font-size: 13px;
    color: var(--color-blue);
    margin: 20px 10px 20px 10px;
    text-align: center;
}

.division {
    border-bottom: 2px dotted var(--color-gray);
}
