.error-page {
    font-size: 46px;
    font-weight: bold;
    font-family: Arial;
    margin: 70px 0 90px 30px;
}

.text-error-page {
    font-size: 16px;
    font-family: Arial;
    margin: 0 10px 60px 30px;
}

.back-home {
    color: var(--color-darkPink);
    cursor: pointer;
    text-decoration: none;
}

.back-home:hover {
    color: var(--color-darkBlue);
}
