.form-company {
    background: var(--color-lightPink);
    font-family: Arial;
    height: 100%;
}

.welcome-company {
    display: flex;
    flex-direction: row;
    padding-top: 129px;
}

.culture {
    width: 552px;
    height: auto;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-size: 25px;
    font-weight: bold;
    padding: 50px 30px 50px 30px;
}

.our-company {
    font-size: 15px;
    font-weight: bold;
}

.title-vision {
    color: var(--color-blue);
    font-size: 30px;
    margin-bottom: 20px;
}

.design-title {
    border-bottom: 8px solid var(--color-darkPink);
    width: 132px;
    position: relative;
    bottom: 18px;
}

.vision {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0 40px;
}

.text-vision {
    max-width: 400px;
}

.map-values {
    display: flex;
    justify-content: center;
    margin: 100px 0 100px 0;
}

.values {
    width: 70%;
    height: 750px;
}


@media screen and (min-width: 500px) {
    .values {
        width: 90%;
        height: 400px;
    }
}

@media screen and (min-width: 600px) {
    .values {
        width: 85%;
        height: 500px;
    }
}

@media screen and (min-width: 700px) {
    .values {
        width: 85%;
        height: 550px;
    }
}

@media screen and (min-width: 850px) {
    .values {
        width: 85%;
        height: 600px;
    }
}

@media screen and (min-width: 900px) {
    .values {
        width: 85%;
        height: 650px;
    }
}

@media screen and (min-width: 1000px) {
    .values {
        width: 75%;
        height: 700px;
    }
}

@media screen and (min-width: 1300px) {
    .values {
        width: 70%;
        height: 800px;
    }
}

@media screen and (min-width: 1500px) {
    .values {
        width: 70%;
        height: 850px;
    }
}
