.questions-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    border-top: 1px solid var(--color-gray);
    padding-top: 60px;
}

.title-questions {
    color: var(--color-blue);
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 70px;
}

.question-block {
    margin: 0 30px 20px 30px;
    max-width: 900px;
}

.question-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: 1px solid var(--color-darkPink);
    box-shadow: 6px 6px 17px -5px rgba(0,0,0,0.75);
    font-size: 18px;
    outline: none;
    cursor: pointer;
    padding: 15px;
}

.question-button:hover {
    color: var(--color-blue);
}

.icon-down {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.answer {
    background: var(--color-lightPink);
    border-radius: 0 0 10px 10px;
    padding: 30px;
    box-shadow: 6px 6px 17px -5px rgba(0,0,0,0.75);
}
