.rule-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 120px;
    font-family: Arial;
}

.title-rule {
    color: var(--color-darkBlue);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 40px;
}

.rules {
    text-align: center;
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 80px;
}

.loan, .investment {
    width: 262px;
    height: 50px;
    border-radius: 8px;
    border: 2px solid var(--color-darkPink);
    font-size: 15px;
    font-weight: bold;
    color: var(--color-darkBlue);
}

.division {
    border-top: 2px dotted var(--color-gray);
    width: 100%;
    margin-top: 80px;
    padding-top: 80px;
}
