.form-service {
    position: relative;
    bottom: 170px;
    font-family: Arial;
    height: 522px;
}

.title {
    color: var(--color-darkBlue);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: 239px;
    border-radius: 8px;
    border: 2px solid var(--color-darkPink);
    line-height: 0.4;
    text-align: center;
    margin: 80px 30px 0 30px;
}

.connection, .creativity,
.low-price {
    width: 70px;
    height: 80px;
    margin: 5px 0 5px 0;
}

.title-service {
    color: var(--color-darkBlue);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.0;
    margin: 5px 3px 15px 3px;
}

.description-service {
    font-size: 13px;
    overflow: scroll;
    height: 80px;
    line-height: 1.0;
    text-align: center;
    margin: 0 5px 0 5px;
}

@media (min-width: 500px) and (max-width: 725px) {
    .service {
        width: 190px;
        margin: 0 8px 0 8px;
    }
}

@media (min-width: 500px) and (max-width: 550px) {
    .title{
        margin: 10px 0 60px 0;
    }
}

