.terms-form {
    background: var(--color-lightPink);
    padding: 60px;
    font-family: Arial;
}

.terms-conditions {
    background: var(--color-lightBlue);
    padding: 45px;
    text-align: justify;
    border-radius: 30px;
}

