:root {
    --color-darkBlue: #0b0080;
    --color-blue: #1174ff;
    --color-lightBlue: rgba(17, 116, 255, 0.04);
    --color-darkPink: #d311b3;
    --color-lightPink: #FFF6F9;
    --color-white: white;
    --color-gray: #d8d8d8;
}

body {
    margin: 0;
}

.image-tulum {
    background-image: url("../../img/tulum.jpg");
    width: 100%;
    height: 747px;
    opacity: 0.50;
}

.welcome, .menu-buttons,
.extra-button {
    display: flex;
    justify-content: center;
}

.button,
.last-button {
    font-weight: bold;
    font-family: Arial;
}

.welcome {
    position: relative;
    bottom: 600px;
    text-align: center;
    font-size: 22px;
    font-family: Arial;
    margin: 0 90px 0 90px
}

.text-welcome {
    width: 500px;
}

.menu-buttons {
    position: relative;
    bottom: 450px;
}

.button {
    margin: 0 40px 0 40px;
}

.button, .last-button {
    width: 202px;
    height: 50px;
    border-radius: 8px;
    background-color: var(--color-darkPink);
    border: none;
    outline: none;
    color: var(--color-white);
    font-size: 13px;
}

.last-button {
    position: relative;
    bottom: 400px;
}
